mixin vebinar()
    .vebinar__slider
        .vebinar
            .vebinar__count Вебинар 1


            .vebinar__title Как начать строить свой капитал?
            .vebinar__content 
                ul
                    li Ставим цель, для чего нам нужно сберегать
                    li Анализируем наше текущее положение финансового состояния
                    li Начать с 1000 реально! Это поможет перестроить вам ваше мышление
                    li Дисциплинированно откладывать х% из вашей зарплаты
                    li Какие существуют виды инвестирования
                    li Какие стоит использовать вам, если ваша цель покупка машины/квартиры/обучения детям или просто создание своего капитала
        .vebinar
            .vebinar__count Вебинар 2


            .vebinar__title Разбираем направления и инструменты инвестирования под ваши цели
            .vebinar__content 
                ul
                    li Хотите накопить на машину - во что инвестировать, чтобы это было выгодно?
                    li Хотите накопить на квартиру - во что инвестировать, чтобы это было выгодно?
                    li Хотите накопить на обучение детям - во что инвестировать, чтобы это было выгодно?
                    li Хотите просто сберечь и приумножить - во что инвестировать, чтобы это было выгодно?
        .vebinar
            .vebinar__count Вебинар 3


            .vebinar__title Начинаем инвестировать!
            .vebinar__content 
                ul
                    li Выбираем и открываем брокерский счёт
                    li Что такое акции? 
                    li Что такое облигации?
                    li Что такое ETF?
                    li  Когда покупать валюту?
                    li Риск менеджмент
                    li Собираем свой первый портфель 
                    li Соблюдаем дисциплину 
                    li Психология инвестора