mixin cause()
    .cause
        .cause__number <span>-</span>1<span>-</span>
        img.cause__image.lazy(data-src="/assets/img/cause_1.png" data-lazy="/assets/img/cause_1.png", alt="")
        .cause__text Осознать, как работают принципы инвестирования и научиться применять их на практике
    .cause
        .cause__number <span>-</span>2<span>-</span>
        img.cause__image.lazy(data-src="/assets/img/cause_2.png" data-lazy="/assets/img/cause_2.png", alt="")
        .cause__text Открыть свой первый портфель или же найти наиболее привлекательные идеи за время марафона и собрать свой первый портфель
    .cause
        .cause__number <span>-</span>3<span>-</span>
        img.cause__image.lazy(data-src="/assets/img/cause_3.png" data-lazy="/assets/img/cause_3.png", alt="")
        .cause__text Контролировать себя и свои риски, относиться к своим инвестициям системно