mixin reason()
    .reason
        .reason__title Задумывались ли вы когда-нибудь о том, почему одни смогли заработать во время «коронакризиса», а другие — многое потеряли. Кто-то скажет — «дуракам везет!», другой и вовсе не поверит, а третий задумается, — и вправду, почему именно так?

        .reason__caption Научим быть теми, кто не полагаются на удачу, а совершают уверенные покупки и продажи!
    .reason
        .reason__title Распространение коронавируса вызвало коррекцию на фондовых рынках во всем мире. По словам аналитиков, во время подобных эпидемий рынки и инвесторы реагируют примерно одинаково — котировки сперва снижаются, а затем отрастают. И на этом можно заработать. Во время коррекции как никогда нужна осознанность!

        .reason__caption Научим смотреть на два шага вперед!
    .reason
        .reason__title Люди зачастую покупают бумаги тех компаний, которые у них наслуху, то есть знакомы — это большое заблуждение. Есть несколько способов выбирать компании. Но порой случается и ошибка выжившего.

        .reason__caption Научим быть рассудительнее!
    .reason
        .reason__title Как вы относитесь к инвестициям?<br>Изначально суть инвестирования заключается в том, что человек сберегает и приумножает свой капитал, делая одну сделку в месяц или вообще в квартал. Сейчас мы наблюдаем тренд на нездоровый трейдинг, потому что брокеры зарабатывают на этом деньги и подсовывают sell-side инвестидеи.

        .reason__caption Научим быть внимательнее!
    .reason
        .reason__title Без базовых знаний о том, как вести себя на рынке - вы будете зарабатывать по принципу генерации случайной доходности или убытка. Поэтому...

        .reason__caption Мы научим вас систематизировать ваши инвестиции!