mixin bonus()
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_1.svg")
        .bonus__text Презентации с вебинаров и обучающие материалы
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_2.svg")
        .bonus__text Доступ в чат с куратором
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_3.svg")
        .bonus__text Записи всех вебинаров
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_4.svg")
        .bonus__text 48 ч скидка на курс “Основы инвестирования”
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_5.svg")
        .bonus__text Бесплатный доступ на 1 обучающий курс 
    .bonus
        .bonus__image.lazy(data-src="/assets/img/bonus_6.svg")
        .bonus__text Участие в розыгрыше доступа к нашим инвест-идеям на год