mixin question()
    .question
        .question__image.lazy(data-src="/assets/img/question_1.svg")
        .question__content С чего начать новичку?
    .question
        .question__image.lazy(data-src="/assets/img/question_2.svg")
        .question__content Как выбрать брокера?
    .question
        .question__image.lazy(data-src="/assets/img/question_3.svg")
        .question__content Как создать свой первый портфель и не стрессовать из-за рисков?
    .question
        .question__image.lazy(data-src="/assets/img/question_4.svg")
        .question__content Как сбалансировать портфель с помощью акций, облигаций, ETF?
    .question
        .question__image.lazy(data-src="/assets/img/question_5.svg")
        .question__content Где брать инвестидеи?
    .question
        .question__image.lazy(data-src="/assets/img/question_6.svg")
        .question__content Как открыть ИИС и получить вычет в ближайшее время?