mixin team()
    
    .team__slider
        .team
            img.team__image.lazy(data-lazy="/assets/img/team_1.jpg", alt="")
            .team__content
                .team__position Основатель компании и наш стратег
                .team__name Сергей Пирогов
                .team__text
                    p 4 года работал инвестиционным аналитиком
                    p Руководителем проектов закрывал M&A сделки на общую сумму более $4 млрд
                    p Далее работал инвестдиркутором в деволоперской компании
                    p В 2018 г. основал собственное детище – Invest Heroes
                    p Все это время грезил рынками и копил собственный капитал, инвестируя на бирже (опыт торговли на фондовом рынке с 2013 года)
        .team
            img.team__image.lazy(data-lazy="/assets/img/team_2.jpg", alt="")
            .team__content
                .team__position Технический аналитик
                .team__name Сергей Леньшин
                .team__text
                    
                             
                    p Технический аналитик с 2014 года
                    p Обучал клиентов брокерских компаний с 2014 года
                    p Работал в ряде брокерских компаний, и знает о чем молчат брокеры<br>Оказывает лучшую поддержку клиентам Invest heroes с 2019 года
                           
        
        .team
            img.team__image.lazy(data-lazy="/assets/img/team_3.jpg", alt="")
            .team__content
                .team__position Head of Research
                .team__name Александр Сайганов
                .team__text
                    
                    p Трейдер с 2014 года
                    p До Invest Heroes работал в инвестбанковском подразделении швейцарского банка Credit Suisse и принимал участие в IPO крупнейшего в мире добытчика урана
                    p Был портфельным управляющим в рамках проекта Prospect
                    p С 2019 года – глава команды research в Invest Heroes
